---
import FormatSection from '../components/FormatSection.astro'
import formats from '../data/formats.json'
import decks from '../data/decks.json'
import Stepper from '../components/Stepper.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Michael's Yugioh Decks</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="bg-background text-text">
    <header class="bg-surface border-b-4 border-accent">
      <div class="container mx-auto px-4 py-6">
        <a href="/" class="flex items-center gap-4">
          <h1 class="text-4xl font-bold">Michael's Yugioh Decks</h1>
        </a>
      </div>
    </header>
    <Stepper />
    <main class="container mx-auto py-8 px-4">
      {
        formats.map((format) => (
          <FormatSection
            id={format.id}
            title={format.title}
            logoUrl={format.logoUrl}
            decks={decks[format.id as keyof typeof decks]}
            isCollapsed={decks[format.id as keyof typeof decks].length === 0}
            banlist={format.banlist}
          />
        ))
      }
    </main>
  </body>
</html>
