---
import FormatSection from '../components/FormatSection.astro'
import formats from '../data/formats.json'
import decks from '../data/decks.json'
import Stepper from '../components/Stepper.astro'
import Header from '../components/Header.astro'
import { pwaInfo } from 'virtual:pwa-info'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="mask-icon" href="/favicon.svg" color="#FFFFFF" />
    <meta name="msapplication-TileColor" content="#f97316" />
    <meta name="theme-color" content="#f97316" />
    <title>Michael's Yugioh Decks</title>
    <meta name="description" content="Michael's Yugioh Decks" />
    <script src="/src/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="bg-background text-text">
    <Header />
    <Stepper />
    <main class="container mx-auto py-8 px-4">
      {
        formats.map((format) => (
          <FormatSection
            id={format.id}
            title={format.title}
            image={format.image}
            decks={decks[format.id as keyof typeof decks]}
            isCollapsed={decks[format.id as keyof typeof decks].length === 0}
            banlist={format.banlist}
            cardPool={format.cardPool}
          />
        ))
      }
    </main>
  </body>
</html>
