---
import { Image } from 'astro:assets'
import DeckCardImage from './DeckCardImage.astro'

interface Props {
  title: string
  imageUrl: string
  linkUrl: string
}

const { title, imageUrl, linkUrl } = Astro.props
const imagePath = `/images/decks/${imageUrl}`
---

<a href={linkUrl} class="group transition-all duration-300" target="_blank">
  <div
    class="overflow-hidden rounded-lg border-2 border-surface group-hover:border-primary transition-all duration-300"
  >
    <DeckCardImage src={imagePath} alt={title} width={230} height={230} />
  </div>
  <p class="text-center mt-2 text-text group-hover:text-primary transition-colors duration-300 text-lg">{title}</p>
</a>
